body {
	background-color: var(--primary-color);
	font-family: 'Bellefair', serif;
	color: var(--secondary-color);
}

header {
	font-family: 'Barlow Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

h1 {
	font-size: var(--large-header-font-size);
	font-family: 'Bellefair', serif;
	color: var(--secondary-color);
	text-transform: uppercase;
}

button {
	text-transform: uppercase;
}