* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
font-weight: 400;
}

button {
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

li {
	list-style: none;
	font: inherit;
}

a {
	font: inherit;
}

input {
	border: none;
	font: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	font: inherit;
}

fieldset {
	border: none;
}