* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

li {
	list-style: none;
	font: inherit;
}

a {
	font: inherit;
}