:root {
	--primary-color: #0F111D;
	--secondary-color: #D0D6F9;
	--tertiary-color: #FFF;

	--x-large-header-font-size: 7.5rem;
	--large-header-font-size: 5rem;
	--medium-header-font-size: 4rem;
	--small-header-font-size: 2.5rem;
	--xsmall-header-font-size: 1.6rem;
	--sub-heading-font-size: 1.4rem;
	--navigation-font-size: 1rem;
	--small-font-size: 0.8rem;

	--border-radius: 0.3rem
}

