:root {
	--primary-color: #0F111D;
	--secondary-color: #D0D6F9;
	--tertiary-color: #FFF;
	--x-large-header-size: 7.5rem;
	--large-header-size: 5rem;
	--medium-header-size: 2.8rem;
	--small-header-size: 1.6rem;
	--sub-heading-size: 1.4rem;
	--navigation-text-size: 0.8rem;
}