.destination {
	margin: 2rem auto;
	text-align: center;
}

.destination__country {
	margin: 0 auto;
}

.destination__slideshow {
	position: relative;
}

.destination__slide {
	width: 13rem;
	height: 13rem;
	border-radius: 100%;
	display: none;
	margin: 0 auto;
}

.destination__slide--visible {
	display: block;
}

.destination__slideshow {
	position: relative;
	z-index: 10;
	width: 15rem;
	margin: 0 auto;
}

.destination__button-next {
	position: absolute;
	top: 50%;
	left: 16rem;
	transform: rotate(90deg);
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 1.4rem solid rgb(93, 93, 93);
}

.destination__button-previous {
	position: absolute;
	top: 50%;
	right: 16rem;
	transform: rotate(-90deg);
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 1.4rem solid rgb(93, 93, 93);
}

.destination__dots {
	width: 0.7rem;
	height: 0.7rem;
	background-color: #2A3156;
	border-radius: 100%;
	margin: 0.8rem 0.5rem;
}

.destination__dots--active {
	background-color: var(--secondary-color);
}