.destination {
	margin: 1.5rem auto;
	text-align: center;
}

.destination__choose-destination {
	font-size: var(--small-header-font-size);
	margin-bottom: 0.5rem;
}

.destination__country {
	margin: 0 auto;
}

.destination__slideshow {
	position: relative;
}

.destination__slide {
	width: 13rem;
	height: 13rem;
	border-radius: 100%;
	display: none;
	margin: 0 auto;
}

.destination__slide--visible {
	display: block;
}

.destination__slideshow {
	position: relative;
	z-index: 10;
	width: 15rem;
	margin: 0 auto;
}

.destination__button-next {
	position: absolute;
	top: 40%;
	left: 16rem;
	transform: rotate(90deg);
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 1.4rem solid var(--secondary-color);
}

.destination__button-previous {
	position: absolute;
	top: 40%;
	right: 16rem;
	transform: rotate(-90deg);
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 1.4rem solid var(--secondary-color);
}

.destination__dots {
	width: 0.7rem;
	height: 0.7rem;
	background-color: #2A3156;
	border-radius: 100%;
	margin: 0.8rem 0.5rem;
}

.destination__dots--active {
	background-color: var(--secondary-color);
}

.destination__slideshow {
	display: none;
}

.destination__slideshow--visible {
	display: block;
}

.destination__country-button-container {
	width: 50%;
	display: flex;
	margin: 1rem auto;
	align-items: center;
	justify-content: space-evenly;
	gap: 3rem;
}

.destination__country-button {
	transition: all 300ms ease-in-out;
	border-bottom: 2px solid transparent;
	font-size: 1.1rem;
}

.destination__country-button:hover {
	border-bottom: 2px solid var(--tertiary-color);
	color: var(--tertiary-color);
}

.destination__country-button--active {
	border-bottom: 2px solid var(--tertiary-color);
	color: var(--tertiary-color);
}

.destination__country-container {
	margin: 0 auto;
	width: 70vw;
	max-width: 25rem;
}

.destination__text {
	line-height: 1.8;
	padding: 0.1rem 0.3rem;
}

.destination__info-sub-header {
	text-transform: uppercase;
	margin-top: 1rem;
	color: var(--tertiary-color);
}

.destination__information {
	font-size: var(--small-header-font-size);
	font-family: 'Bellefair', serif;
	text-transform: uppercase;
	color: var(--tertiary-color);
	margin-top: 0.3rem;
}