.packinglist {
	width: 80%;
	margin: 3rem auto;
	color: var(--primary-color);
	text-align: center;
	border-radius: var(--border-radius);
	/* background-image: url(../../assets/images/packing.jpg); Downloaded from https: //unsplash.com/photos/z9F_yK4Nmf8 */
	background-size: cover;
}

.packinglist__cover {
	/* background: hsl(0, 0%, 100%, 0.25);
	backdrop-filter: blur(0.2rem);
	-webkit-backdrop-filter: blur(0.2rem); */
	background-color: var(--secondary-color);
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: var(--border-radius);
}

.packinglist__form {
	min-height: 20vh;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.packinglist__add-button, .packinglist__input, .packinglist__select{
	padding: 0.5rem;
	font-size: var(--xsmall-header-font-size);
	background-color: var(--tertiary-color);
	border-radius: var(--border-radius);
}

.packinglist__add-button {
	transition: all 300ms ease-in-out;
}

.packinglist__add-button:hover {
	background-color: var(--secondary-color);
}

.packinglist__select-container {
	overflow: hidden;
	position: relative;
	margin: 1rem;
}

.packinglist__select {
	cursor: pointer;
	width: 10rem;
}

.packinglist__select-container::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--tertiary-color);
	padding: 1rem;
	pointer-events: none;
	border-radius: 0rem 0.3rem 1rem 0rem;
	transition: all 300ms ease-in-out;
}

.packinglist__select-container:hover::after {
	background-color: var(--secondary-color);
}

.packinglist__container{
	margin: 0 auto;
	width: 70%;
	max-width: 25rem;
}

.packinglist__items {
	display: flex;
	gap: 0.5rem;	
	justify-content: space-between;
	align-items: center;
	font-size: var(--xsmall-header-font-size);
	margin: 1rem;
}

.packinglist__list-item {
	flex: 1;
	text-align: center;
	background-color: var(--tertiary-color);
	padding: 0.4rem;
	border-radius: var(--border-radius);
}

.packinglist__delete-button, .packinglist__completed-button {
	color: var(--tertiary-color);
	font-size: 2rem;
	transition: all 300ms ease-in-out;
	border-radius: var(--border-radius);
}

.packinglist__delete-button {
	background-color: var(--tertiary-color);
	color: rgb(187, 26, 26);
	padding: 0.2rem 0.5rem;
}

.packinglist__delete-button:hover {
	color: var(--tertiary-color);
	background-color: rgb(187, 26, 26);
}

.packinglist__completed-button {
	padding: 0.2rem 0.3rem;
	background-color: var(--tertiary-color);
	color: rgb(13, 137, 22);
}

.packinglist__completed-button:hover {
	color: var(--tertiary-color);
	background-color: rgb(13, 137, 22);
}

.packinglist__completed-button--done {
	opacity: 0.5;
	text-decoration: line-through;
	color: red;
}